
.container-custom {
    background-color: #c7cfd1;
    font-family: 'Balsamiq Sans', cursive;
}
.img-style {
    border-radius: 2%; 
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    height: 150px;
}

.padded {
    padding: 10px;
}