
.container-custom {
    background-color: #c7cfd1;
    font-family: 'Cinzel', serif;
    font-size: 180%;
    border-radius: 4px;
}
.img-style {
    border-radius: 2%; 
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    height: 150px;
}

.img-style-list {
    width: 100%;
    height: 100%;
}

.padded {
    margin: 8px;
}

.error {
    color: red;
}

.divider {
    border-top: 3px solid rgb(149, 173, 148);
}

.landing {
    background: linear-gradient(to bottom, rgba(200, 204, 192, 0.562),rgba(168, 191, 128, 0.63)),url('https://www.themayor.eu/web/files/articles/7912/main_image/thumb_1200x630_young-people-dancing-night-club-concert-festival.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.landing-text {
    padding: 40px;
}